.ColouredFooter {
    background-color: var(--col-purple);
    min-height: 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: .25em 1em;
    font-size: 1em;
}