.ProfileHeader {
    background-color: var(--col-yellow);
    color: white;
    padding: 2em 0 1em;
}
.ProfileHeaderActions {
    display: flex;
    margin-top: 1em;
    flex-wrap: wrap;
}
.ProfileHeaderActions > * {
    margin-right: .5em;
    padding: .5em 1em;
    background-color: var(--col-purple);
    color: white;
    text-decoration: none;
    border: 2px solid white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}