.RoundButton {
    background-color: var(--col-purple);
    color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    right: 3px;
    top: 3px;
    border: 2px solid white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}
.RoundButton:active {
    background-color: var(--col-purple-darker);
}