.TranslationImages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    border-radius: 1em;
    margin-top: 2em;
    padding: 2em 0 3em;
    position: relative;
    overflow: hidden;
}
.TranslationImages img {
    max-width: 80px;
}
.TranslationSpecialChar {
    font-size: 2em;
    font-weight: bold;
}
.TranslationSpace {
    display: block;
    width: 45px;
}