.TranslationForm {
    background-color: var(--col-yellow);
    display: flex;
    justify-content: center;
    padding: 2em;
    position: relative;
    display: block;
    width: 100%;
}
.TranslationFormControls {
    display: flex;
    position: relative;
}
.TranslationInput {
    width: 100%;
}