.Header {
    background-color: var(--col-yellow);
    padding: 1em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--col-yellow-darker);
}

.Header a {
    text-decoration: none;
    color: white;
}