.LoginForm {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    border-radius: 1em;
    padding: 2em;
    position: relative;
    margin: -2em auto 0;
    overflow: hidden;
    max-width: 760px;
}
.LoginForm form {
    display: block;
    width: 100%;
}
.LoginInput {
    background-color: var(--col-grey-lighter);
    border-color: var(--col-grey);
    width: 100%;
}

.LoginFormControls {
    display: flex;
    position: relative;
    margin-bottom: 15px;
}

