.LoginHeader {
    background-color: var(--col-yellow);
    color: white;
    padding: 3em 0 5em;
}
.LoginHeaderContent {
    display: flex;
    max-width: 760px;
    margin: 0 auto;
}
.LoginHeaderContent aside {
    margin-right: 1em;
}
.LoginHeaderLogo {
    max-width: 165px;
    width: 100%;
    display: block;
}
.LoginHeaderTitle {
    font-size: 2.75em;
}
.LoginHeaderSubTitle {
    font-size: 1.75em;
}