body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --col-yellow: #FFC75F;
  --col-yellow-darker: #E7B355;
  --col-purple: #845EC2;
  --col-purple-darker: #7855af;

  --col-grey: #969696;
  --col-grey-lighter: #EFEFEF;
}

body, input, button, textarea {
  font-family: 'Sanchez', serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol, ul {
  padding-left: 1.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-yellow {
  background-color: var(--col-yellow) !important;
}
.bg-danger {
  background-color: rgb(224, 58, 58) !important;
}
.material-icons {
  font-size: inherit;
}

fieldset {
  border: none;
  padding: 0;
}

input {
  font-size: 1.5em;
  padding: .35em 0 .35em .75em;
  border-radius: 1.5em;
  border: 3px solid white;
  background-color: var(--col-grey-lighter);
}
input:focus {
  outline: transparent;
}
